{% include "core/header.twig" %}

<body id="page-top">

{% include "core/main-nav.twig" %}

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ episode.getTitle() }}</h2>
                <hr class="light">
                <p>{{ episode.getPublishDate() }}</p>

                <div class="content">
                    {{ episode.getContent()|raw }}
                </div>

                <audio src="{{ episode.link }}"></audio>
                <div class="podcast-options">
                    <strong>Podcast:</strong>
                    <a href="{{ episode.link }}" target="_blank">Play in new window</a> |
                    <a href="{{ episode.link }}" download="{{ episode.download }}">Download</a>
                </div>
                <div class="subscribe">
                    {% include "core/subscribe-buttons.twig" %}
                </div>
            </div>
        </div>
    </div>
</section>

{% include "core/contact.twig" %}

{% include "core/footer.twig" %}
