{% include "core/episode-header.twig" %}

<body id="page-top">

<div class="container">

{% include "core/main-nav.twig" %}

        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">{{ episode.getTitle() }}</h2>
                <p class="publish-date">{{ episode.getPublishDate() }}</p>

                <hr />

                <audio style="width: 100%;" src="{{ episode.link }}" type="audio/mp3" preload="none" controls="control"></audio>
                <div class="podcast-options">
                    <a href="{{ episode.link }}" target="_blank">
                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                        Play in new window
                    </a> |
                    <a href="{{ episode.link }}" download="{{ episode.download }}">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        Download
                    </a>
                </div>

                <hr class="light">

                <div class="content">
                    {% markdown %}{{ episode.getSynopsis() }}{% endmarkdown %}
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Guests</h3>
                        {% if episode.getGuests() %}
                            {% for guestName, guestData in episode.getGuests() %}
                                <a href="https://twitter.com/{{ guestData.twitter }}" target="_blank">
                                    <img src="{{ guestData.email|guestGravatar }}" class="img-circle"
                                         style="width: 64px; height: 64px;" alt="" data-toggle="tooltip"
                                         data-placement="bottom" title=""
                                         data-original-title="{{ guestName }}">
                                </a>
                            {% endfor %}
                        {% else %}
                            <p>No Guests this episode.</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {% if episode.getRelatedLinks() %}
                        <h3>&nbsp;Related Links</h3>
                        {% markdown %}{{ episode.getRelatedLinks() }}{% endmarkdown %}
                        {% endif %}
                    </div>
                </div>

                <hr />

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Discuss</h3>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'freethegeek';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-6">
                {% include "core/subscribe-buttons.twig" %}
            </div>
            <div class="col-md-6">
                    <h3>Share</h3>
                <div class="social-sharing is-large" data-permalink="{{ route }}">
                    <!-- https://developers.facebook.com/docs/plugins/share-button/ -->
                    <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ route }}" class="share-facebook">
                        <span class="icon icon-facebook"></span>
                        <span class="share-title">Share</span>

                    </a>
                    <a target="_blank" href="http://twitter.com/share?url={{ route }}&amp;text=Check out {{ episode.title }}" class="share-twitter">
                        <span class="icon icon-twitter"></span>
                        <span class="share-title">Tweet</span>
                        <span class="share-count is-loaded">1</span>
                    </a>
                    <a target="_blank" href="http://plus.google.com/share?url={{ route }}" class="share-google">
                        <!-- Cannot get Google+ share count with JS yet -->
                        <span class="icon icon-google"></span>
                        <span class="share-count is-loaded">+1</span>
                    </a>
                </div>
            </div>
        </div>

    <hr />

    </div>

{% include "core/footer.twig" %}
