{% include "core/header.twig" %}

<body id="page-top">

<div class="container">

{% include "core/main-nav.twig" %}

<header>
    <div class="header-content">
        <div class="header-content-inner"></div>
    </div>
</header>

<div class="row">
    <div class="col-md-8">
        <p class="lead">The podcast about the business of freelancing as a software developer, writer, content producer, and all round PHP lover.</p>
    </div>
    <div class="col-md-4" style="text-align: right;">
        <a href="https://twitter.com/@freeingthegeek" target="_blank"><img src="/img/social-media/twitter.png" style="padding: 5px;"></a>
        <a href="https://plus.google.com/b/115002379460010233732/115002379460010233732/posts" target="_blank" data-toggle="tooltip" data-original-title="Another one here too" title="Join in the conversation on Google+"><img src="/img/social-media/google-plus.png" style="padding: 5px;"></a>
        <a href="https://www.facebook.com/pages/Free-The-Geek/899450083436065" target="_blank"><img src="/img/social-media/facebook.png" style="padding: 5px;"></a>
        <a href="http://freethegeek.fm/rss.xml" target="_blank"><img src="/img/social-media/itunes.jpg" style="padding: 5px;"></a>
        <a href="https://itunes.apple.com/de/podcast/free-geek.fm-matthew-setter/id1018923368?l=en&mt=2" target="_blank"><img src="/img/social-media/rss.png" style="padding: 5px;"></a>
    </div>
</div>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron"></div>

    <div class="well">
        <form class="form-inline">
            <div class="form-group form-group-lg col-sm-10">
                <input type="text" class="form-control input-lg" id="exampleInputAmount" placeholder="Enter your email address, to get the latest updates and community news."
                        style="width:100%;">
            </div>
            <button type="submit" class="btn btn-success input-lg">Sign Up!</button>
        </form>
    </div>

{% for episode in episodes %}
    <div class="well">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">{{ episode.getTitle() }}</h3>
                <h5>Published: {{ episode.getPublishDate() }}</h5>
                <p>{% markdown %}{{ episode.getSynopsis() }}{% endmarkdown %}</p>
                {% if episode.getGuests() %}
                    <h4>Guest(s)</h4>
                    {% for guestName, guestData in episode.getGuests() %}
                        <a href="https://twitter.com/{{ guestData.twitter }}" target="_blank">
                            <img src="{{ guestData.email|guestGravatar }}" class="img-circle"
                                 style="width: 64px; height: 64px;" alt="" data-toggle="tooltip"
                                 data-placement="bottom" title=""
                                 data-original-title="{{ guestName }}">
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

</div>
<!-- /container -->


{% include "core/footer.twig" %}

